S3method(plot,foo)
export(sglm)
export(DIC)
export(visio)
importFrom("graphics","abline","matplot","par","rug")
importFrom("stats","gaussian","model.frame","model.matrix","model.offset","model.response","na.omit","na.pass","qqline","qqnorm","quantile","reformulate","rnorm","terms","as.formula","acf")
import(leaflet)
import(lme4)
import(parallel)
import(mgcv)
import(INLA)